body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container-row {
  display: flex;
  align-items: center;
}

.flex-container-wrap {
  display: flex;
  flex-flow: row wrap;
}

.flex-container-spaceBtw {
  justify-content: space-between
}

.fullWidth {
  width: 100%
}

#mainSection {
  background-color: #e4dffd;
  height: 100vh;
}
/*---------------------------- NAV SECTION ----------------------------*/
#navContainer {
  background-color: #937ff8;
  padding-right: 120px;
  padding-left: 120px;
  color: white;
  height: 60px;
  box-sizing: border-box;
}

#navContainer h1{
  font-weight: 400;
  font-size: 1.7em;
  letter-spacing: 2px;
}

#navContainer img {
  width: 90px;
  height: 50px;
}

#navContainer a{
  color: white;
  font-size: 1.1em;
  letter-spacing: 1px;
}

/*---------------------------- PLAIDLINK ----------------------------*/
#plaidContainer {
  display: inline-block;
  width: 100%;
  margin-right: 12px;
  border-bottom-color: #bdbccd;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-bottom: 15px;
  text-align: center;
}

/* #plaidContainer button {
  background: transparent;
  font-size: 1.1em;
  letter-spacing: 1px;
  color: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: #bdbccd;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

/* Box Shadow Outset */
.hvr-float-shadow {
  background: transparent;
  font-size: 1.1em;
  letter-spacing: 1px;
  color: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: #bdbccd;
  width: 110px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


/*---------------------------- LOGIN SECTION ----------------------------*/
#loginContainer {
  width: 80%;
  height: calc(100vh - 210px);
  justify-content: space-around;
  background-color: white;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 80px;
  box-sizing: border-box;
}

#loginContainer>div{
  margin-left: 90px;
  margin-right: 90px;
  justify-content: space-around;
}
#loginForm {
  width: 35%;
}

#loginForm div {
  width: 100%;
}

#loginForm input {
  box-sizing: border-box;
  width: 90%;
  height: 40px;
  font-size: 1.2em;
  background-color: #e1dedf;
  padding-left: 15px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #c1babc;
  border-radius: 5px;
  border-style: inset;
}

#loginForm >div {
  margin-top: 30px;
}

#loginForm button {
  width: 50%;
  height: 40px;
  font-size: 1.5em;
  margin-left: 40%;
  background-color: #7b2942;
  color: white;
  border-radius: 5px;
  border-style: outset;
}

#orContainer {
  width: 20%;
  height: 300px;
  padding-top: 108px;
  box-sizing: border-box;
}

.back-line {
  line-height: 0;
  border-bottom: 1px dotted #999;
  text-align: center;
  width: 180px;
}

.back-line > span {
  background: #fff;
  color: #999;
  padding: 0.5em;
  border: 1px dotted #999;
  border-radius: 50%; }

  #googleBtnContainer {
    height: 300px;
    padding-top: 87px;
    box-sizing: border-box;
    margin-left: 20px;
    width: 32%;
  }

  #googleBtn {
    width: 100%;
    height: 45px;
    text-align: left;
    padding-bottom: 5px;
    justify-content: space-around;
    background-color: #0d3cbf;
    border-radius: 5px;
    border-style: outset;
  }

  #googleBtn span {
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
  }

  #googleBtn img {
    width: 30px;
    height: 30px;
    padding-right: 5px;
    padding-left: 10px;
  }

  /*---------------------------- BANKLIST SECTION ----------------------------*/

  #bankListContainer {
    min-width: 25%;
    background-color: #2b0cc2;
    display: inline-block;
    min-height: 540px;
    margin-top: 60px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;

    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    height: 536px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
  }

  .bankList-enter {
    opacity: 0.01;
  }

  .bankList-enter.bankList-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .bankList-leave {
    opacity: 1;
  }

  .bankList-leave.bankList-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .bankList-appear {
    opacity: 0.01;
  }

  .bankList-appear.bankList-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }

  #bankList {
    min-height: 60%;
    background-color: #f2f0fe;
    border-radius: 5px;
    border-style: inset;
    margin-bottom: 30px;
  }

  #bankList div{
    box-sizing: border-box;
    width: 100%;
    border-top-style: solid;
    border-top-width: 0.1px;
    border-top-color: #e5eafb;
    text-align: left;
    padding: 10px 10px;

  }

  #bankList span {
    color: grey;
    font-size: 1.1em;
    letter-spacing: 1px;
  }

 .goBtnWrapper {
  text-align: center;
 }
  /*---------------------------- HOME SECTION ----------------------------*/
  #homeContainer {
    width: 100%;
    background-color: white;
    height: calc(100vh - 60px);
  }


  #bankNavContainer{
    width: 100%;
    height: 80px;
    background-color: white;
    justify-content: space-around;
    padding-right: 8%;
    box-sizing: border-box;
    padding-left: 8%;
  }

  #bankNavContainer span {
    color: grey;
  }

  #edge{
    background: #bcaffb;
    width: 100%;
    height: 20px;
  }

  /* #bankNavContainer div{
    display: inline-block;
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    transition: border-bottom-style 2s ease-in;
  }

  #bankNavContainer div:hover{
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 3px;
  } */

  /* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #bcaffb;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

  #dashboardContainer{
    width: 100%;
    height: 630px;
    justify-content: space-between;
  }

  #dashboardContainer>div{
    flex: 0 0 50%;

  }

  .halfSec {
    height: 100%;
    box-sizing: border-box;
  }

  #balance{
    padding-left: 11%;
  }

  .sectionLabel{
    flex: 0 0 3%;
    margin-top: 20px;
    margin-bottom: 0px;
    color: grey;
    font-size: 1.1em;
  }

  #balance>div, #exp>div {
    border-style: solid;
    border-color: #e6ebea;
    border-width: 0.3px;
    width: 92%;
    box-sizing:border-box;
    margin-top: 10px;
  }

  #exp{
    padding-right: 11%;
  }

/*---------------------------- SUMMARY ROW SECTION ----------------------------*/
  .rowSec {
    flex: 0 0 20%;
    height: 100px;
    margin-top: 5px;
  }

#topRow div {
  flex: 0 0 33.33%;
  height: 100%;
  border: none;
}
 #topRow div:first-child{
  border-right-style: solid;
  border-right-color: #e6ebea;
  border-right-width: 0.2px;
 }

 #sec2Container{
  border-right-style: solid !important;
  border-right-color: #e6ebea !important;
  border-right-width: 0.2px !important;
 }

#netContainer, #assetContainer, #liabilityContainer {
  border: none !important;
  margin-bottom:10px;
 }

 #netContainer>span, #assetContainer>span, #liabilityContainer>span{
  color:#5d3ff4;
  font-weight: 600;
 }

 #netContainer>span {
  font-size: 1.3em;

 }
 #assetContainer>span, #liabilityContainer>span{
  font-size: 0.9em;
  color:#5d3ff4;

 }

.setPadding {
padding-top:40px;
padding-bottom:35px;
box-sizing: border-box;
}

.addColor{
  background-color: #f2f0fe;
}

.greyFont {
  color: grey;
}

/*---------------------------- DETAIL ROW SECTION ----------------------------*/

.detailItem{
  flex: 0 0 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
  border-style: solid;
  border-width: 0.1px;
  border-color: #e5eafb;
  box-sizing: border-box;
}

.detailAmount {
color:#5d3ff4;
text-align: center;
font-size: 0.9em;
font-weight: 600;
}

.categoryName {
  font-size: 0.8em;
  color: grey;
}
/*---------------------------- BALANCE CHART SECTION ----------------------------*/
  .chartWrap {
    flex: 50%;
    display: flex;
    flex-direction: column;
  }

  .chartTitleArea{
    width: 100%;
    flex: 0 0 20%;
    background-color: #f2f0fe;
    color: grey;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
  }

  .chartContainer {
    flex: 0 0 80%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .pieContainer {
    will-change: 100%;
  }
  .pieContainer-enter {
    opacity: 0.01;
  }

  .pieContainer-enter.pieContainer-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .pieContainer-leave {
    opacity: 1;
  }

  .pieContainer-leave.pieContainer-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .pieContainer-appear {
    opacity: 0.01;
  }

  .pieContainer-appear.pieContainer-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }

  .balanceLabelContainer{
    margin-left: 35px;
    box-sizing: border-box
  }

  .eachBalanceLabel{
    margin-bottom: 18px;
  }

  .className {
    font-size: 0.9em;
    margin-left: 3px;
    margin-right: 3px;
    color: gray;
  }

  .classAmount {
    font-size: 0.8em;
    color: #5d3ff4;
    font-weight: 550;
  }

  .classPerc {
    font-size: 0.7em;
    margin-left: 3px;
    color: gray;
  }
/*---------------------------- EXPENSE CHART SECTION ----------------------------*/
#detailRowContainer, #detailExpontainer{
  flex: 0 0 25%;
}

.xAxis .yAxis {
  font-size: 0.6em;
}

.expenseChartContainer{
  padding-top: 20px;
  padding-bottom: 20px;
}
.barChartContainer {
  flex: 0 0 40%;
  height: 90%;
}

.vendorLabelContainer {
  flex: 0 0 40%;
  margin-left: 30px;
  height: 90%;
}

.eachVendoerLabel{
  margin-bottom: 10px;
}
