body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container-row {
  display: flex;
  align-items: center;
}

.flex-container-wrap {
  display: flex;
  flex-flow: row wrap;
}

.flex-container-spaceBtw {
  justify-content: space-between
}

.flex-container-spaceArd {
  justify-content: space-around
}

.fullWidth {
  width: 100%
}

#mainSection {
  background-color: #e4dffd;
  /* height: 100vh; */
}

.greyBox {
  border-style: solid;
  border-color: #c0cdca;
  border-width: 0.5px;
  border-radius: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1px;
  padding-right: 1px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.fontWhite {
  color: white
}
/*---------------------------- NAV SECTION ----------------------------*/
#navContainer {
  background-color: black;
  background: rgba(0, 0, 0, .6);
  width: 100%;
  /* padding-right: 10%; */
  padding-left: 10%;
  height: 60px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 2;
}

#navContainer h1{
  color: white;
  font-weight: 400;
  font-size: 1.7em;
  letter-spacing: 2px;
}

#navContainer img {
  width: 90px;
  height: 50px;
  max-width: 100%;
}

#navContainer a{
  color: #b2b2b2;
  font-size: 0.9em;
  letter-spacing: 1px;
}

.nav {
  width: 100%;
  /* height: 100%; */
}

.navSlide {
  /* position: absolute; */
  visibility: hidden;
  width: 100%;
  /* left: 600px;
  top: 60px; */
  /* transform: translate(0, 0); */
  transition: all 0.3s ease;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column
}

.navSlide.open {
  visibility: visible;
  position: absolute;
  left: 0px;
  top: 60px;
}

.hvr-underline-reveal.small {
  margin:0;
}

/*---------------------------- PLAIDLINK ----------------------------*/
#plaidContainer {
  display: inline-block;
  width: 100%;
  margin-right: 12px;
  border-bottom-color: #bdbccd;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-bottom: 15px;
  text-align: center;
}

/* #plaidContainer button {
  background: transparent;
  font-size: 1.1em;
  letter-spacing: 1px;
  color: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: #bdbccd;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

/* Box Shadow Outset */
.hvr-float-shadow {
  background: transparent;
  font-size: 1.1em;
  letter-spacing: 1px;
  color: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: #bdbccd;
  width: 110px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
/*.hvr-float-shadow:active , .hvr-float-shadow:focus */
.hvr-float-shadow:hover  {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

/* .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before */
.hvr-float-shadow:hover:before  {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


/*---------------------------- LOGIN SECTION ----------------------------*/
#loginContainer {
  width: 80%;
  /* height: calc(100vh - 210px); */
  justify-content: space-around;
  background-color: white;
  margin-top: 120px;
  margin-bottom: 40px;
  padding-top: 80px;
  box-sizing: border-box;
}

#loginContainer>div{
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

#loginForm {
  width: 80%;
}

#loginForm div {
  width: 100%;
}

#loginForm input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-size: 1.2em;
  background-color: #e1dedf;
  padding-left: 15px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #c1babc;
  border-radius: 5px;
  border-style: inset;
}

#loginForm >div {
  margin-top: 30px;
}

#loginForm button {
  width: 50%;
  height: 40px;
  font-size: 1.5em;
  margin-left: 40%;
  background-color: #7b2942;
  color: white;
  border-radius: 5px;
  border-style: outset;
}

#orContainer {
  width: 80%;
  /* height: 300px; */
  padding-top: 10%;
  padding-bottom: 10%;
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: auto;
}

.back-line {
  line-height: 0;
  border-bottom: 1px dotted #999;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.back-line > span {
  background: #fff;
  color: #999;
  padding: 0.5em;
  border: 1px dotted #999;
  border-radius: 50%; }

  #googleBtnContainer {
    height: 300px;
    padding-top: 87px;
    box-sizing: border-box;
    /* margin-left: 20px; */
    width: 100%;
  }

  #googleBtn {
    width: 80%;
    height: 45px;
    /* text-align: left; */
    padding-bottom: 5px;
    justify-content: space-around;
    background-color: #0d3cbf;
    border-radius: 5px;
    border-style: outset;
    margin-left: auto;
    margin-right: auto;
  }

  #googleBtn span {
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 300;
    color: white;
  }

  #googleBtn img {
    width: 30px;
    height: 30px;
    padding-right: 5px;
    padding-left: 10px;
  }


  /*---------------------------- BANKLIST SECTION ----------------------------*/
  .noteListContainer{
    margin-top: 100px;
  }

  .noteContainer {
    width: 100%;
    margin-bottom: 30px;
  }

  #bankListContainer {
    min-width: 300px;
    width: 100%;
    background-color: #2b0cc2;
    display: inline-block;
    min-height: 450px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;

    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-bottom: 80px;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
  }

  .bankList-enter {
    opacity: 0.01;
  }

  .bankList-enter.bankList-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .bankList-leave {
    opacity: 1;
  }

  .bankList-leave.bankList-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .bankList-appear {
    opacity: 0.01;
  }

  .bankList-appear.bankList-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }

  #bankList {
    min-height: 60%;
    background-color: #f2f0fe;
    border-radius: 5px;
    border-style: inset;
    margin-bottom: 30px;
  }

  #bankList div{
    box-sizing: border-box;
    width: 100%;
    border-top-style: solid;
    border-top-width: 0.1px;
    border-top-color: #e5eafb;
    text-align: left;
    padding: 10px 10px;

  }

  #bankList span {
    color: grey;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 300;
  }

 .goBtnWrapper {
  text-align: center;
 }

 .loader {
  margin: 40px auto;
  font-size: 9px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

  /*---------------------------- HOME SECTION ----------------------------*/
  #homeContainer {
    width: 90%;
    background-color: white;
    /* height: calc(100vh - 60px); */
    position: relative;
    margin-top: 60px;
  }

  /* #edge{
    background: #bcaffb;
    width: 100%;
    height: 20px;
  } */

    #dashboardContainer{
    width: 100%;
    /* height: 630px; */
    justify-content: space-between;
  }

  /* #dashboardContainer>div{
    width: 100%;

  } */

  .halfSec {
    height: 100%;
    box-sizing: border-box;
  }

  #balance{
    width: 100%;
    /* padding-left: 10%; */
    order: 1;
  }

  #balanceChart{
    width: 92%;
    order: 3;
    margin-left: auto;
    margin-right: auto;
  }
  .sectionLabel{
    flex: 0 0 3%;
    margin-top: 20px;
    margin-bottom: 0px;
    color: grey;
    font-size: 1.1em;
  }

  #balance>div, #exp>div,  #balanceChart, #expChart {
    border-style: solid;
    border-color: #e6ebea;
    border-width: 0.3px;
    width: 92%;
    height: 100%;
    box-sizing:border-box;
    margin-top: 10px;
  }

  #exp{
    width: 100%;
    /* padding-right: 10%; */
    order: 2;
  }

  #expChart {
    width: 92%;
    order: 4;
    margin-left: auto;
    margin-right: auto;
  }

/*---------------------------- BANK HEADER SECTION ----------------------------*/
  #bankNavContainer{
    width: 100%;
    /* height: 70px; */
    min-height: 70px;
    align-items: center;
    background-color: #f7f7f7;
    justify-content: space-around;
    padding-right: 8%;
    box-sizing: border-box;
    padding-left: 8%;
  }

  #bankNavContainer span {
    color: grey;
  }

  #bankNavContainer a {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  height: 27px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #bcaffb;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.active {
  border-bottom-color: #bcaffb;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  box-sizing: border-box;
}

/*---------------------------- SUMMARY ROW SECTION ----------------------------*/
  .rowSec {
    flex: 0 0 20%;
    height: 95px;
    margin-top: 5px;
  }

#topRow div {
  flex: 0 0 33.33%;
  height: 100%;
  border: none;
}
 #topRow div:first-child{
  border-right-style: solid;
  border-right-color: #e6ebea;
  border-right-width: 0.2px;
 }

 #sec2Container{
  border-right-style: solid !important;
  border-right-color: #e6ebea !important;
  border-right-width: 0.2px !important;
 }

#netContainer, #assetContainer, #liabilityContainer {
  border: none !important;
  margin-bottom:10px;
 }

 #netContainer>span, #assetContainer>span, #liabilityContainer>span{
  color:#5d3ff4;
  font-weight: 600;
 }

 #netContainer>span {
  font-size: 1.3em;

 }
 #assetContainer>span, #liabilityContainer>span{
  font-size: 0.9em;
  color:#5d3ff4;

 }

.setPadding {
padding-top:35px;
padding-bottom:35px;
box-sizing: border-box;
}

.addColor{
  background-color: #f2f0fe;
}

.greyFont {
  color: grey;
}

/*---------------------------- DETAIL ROW SECTION ----------------------------*/

.detailItem{
  flex: 0 0 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2%;
  padding-bottom: 2%;
  border-style: solid;
  border-width: 0.1px;
  border-color: #e5eafb;
  box-sizing: border-box;
}

.detailAmount {
color:#5d3ff4;
text-align: center;
font-size: 0.9em;
font-weight: 600;
}

.categoryName {
  font-size: 0.8em;
  color: grey;
  text-align: center;
}
/*---------------------------- BALANCE CHART SECTION ----------------------------*/
  .chartWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* height: 250px; */
  }

  .chartTitleArea{
    width: 100%;
    flex: 0 0 20%;
    background-color: #f2f0fe;
    color: grey;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
  }

  .chartContainer {
    /* flex: 0 0 80%; */
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  .pieContainer {
    will-change: 100%;
  }
  .pieContainer-enter {
    opacity: 0.01;
  }

  .pieContainer-enter.pieContainer-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .pieContainer-leave {
    opacity: 1;
  }

  .pieContainer-leave.pieContainer-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .pieContainer-appear {
    opacity: 0.01;
  }

  .pieContainer-appear.pieContainer-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }

  .balanceLabelContainer{
    margin-left: 35px;
    box-sizing: border-box
  }

  .eachBalanceLabel{
    margin-bottom: 18px;
  }

  .className {
    font-size: 0.8em;
    margin-left: 3px;
    margin-right: 3px;
    color: gray;
  }

  .classAmount {
    font-size: 0.8em;
    color: #5d3ff4;
    font-weight: 550;
  }

  .classPerc {
    font-size: 0.7em;
    margin-left: 3px;
    color: gray;
  }
/*---------------------------- EXPENSE CHART SECTION ----------------------------*/
#detailRowContainer, #detailExpontainer{
  /* flex: 0 0 25%; */
  height: 200px;
}

.recharts-xAxis .recharts-yAxis {
  font-size: 0.6em;
}

.expenseChartContainer{
  padding-top: 20px;
  padding-bottom: 20px;
  /* height: 250px; */
  justify-content: center;
  display: flex;
}

.barChartContainer {
  flex: 0 0 40%;
  height: 90%;
}

.vendorLabelContainer {
  /* flex: 0 0 40%; */
  width: 100%;
  margin-left: 20px;
  /* height: 90%; */
}

.eachVendoerLabel{
  margin-bottom: 10px;
}

.vendorTransactionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right:0;
  top: 850px;
  background-color: black;
  width: 250px;
  padding-right: 3%;
  padding-left: 3%;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 0.6;
  transition: all 1s ease-in;
}

.vendorTransactionsContainer.vendorActive {
  top: 130px;
}

.vendorTransactions{
  padding-top: 10px;
}

.vendorTransactions span{
  padding-top: 10px;
  color: grey;
  font-weight: 300;
  box-sizing: border-box;
}

.vendorName{
  color: grey;
  margin-bottom: 10px;
}

.removeVendor{
  color: grey;
  padding-bottom: 15px;
  padding-left: 10px;
  border: none;
}
/*---------------------------- TRANSACTION LIST SECTION ----------------------------*/

.transctionListWrap {
  padding-top: 100px;
  background-color: white;
}

.transactionListSection {
  width: 100%;
  /* position: fixed; */
  /* top: 530px; */
  margin-top: 25px;
  justify-content: space-around;
}
/*border-color: #e6ebea;*/
.transactionListContainer {
  width: 75%;
  box-sizing: border-box;
  border-color: #f2f0fe;
  border-style: double;
  justify-content: space-around;
}

.transactionListInnerContainer{
  margin-top: 10px;
  width: 95%;
}
.transactionItemsByAccount{
  align-items: flex-start;
  flex: 0 0 75%;

}

.transactionItem{
  width: 100%;
  height: 35px;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-color: #e6ebea;
  border-bottom-width: 0.3px;
}

.transactionItem span {
  /* font-size: 1.0em; */
  color: grey;
}

.transactionItemsByAccount p {
  display: inline-block;
  color:  #5d3ff4;
  margin-left: 10px;
  font-size: 0.85em;
}
.accountNameWrapper {
  display: flex;

}

.accountName {
  display: inline-block;
  height: 35px;
  flex: 0 0 25%;
  border-bottom-style: solid;
  border-bottom-color: #e6ebea;
  border-bottom-width: 0.3px;
  color: grey;
  padding-top: 5px;
  box-sizing: border-box;
}

.transactionDate{
  font-size: 0.8em;
}

.searchContainer{
  text-align: end;
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 10px;
}

.searchContainer i{
  font-size: 2em;;
  color: grey;
}
/*----------------------------  FRONT PAGE SECTION ----------------------------*/
.frontPageContainer{
  width: 100%

}

.carosole{
  width: 100%;
  height: 500px;
  background-image: url('http://www.arabianbusiness.com/sites/default/files/images/2017/01/17/digital-finance-1.jpg');
  background-size: 100% 100%;
}

.frontPageContainer h1 {
  color: black
}

.sologanSection{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

.slogonContainer{
  width: 100%;
  justify-content: center;
  /* padding-left: 5%;
  padding-right: 5%; */
  box-sizing: border-box;
}

.slogonContainer h3, .slogonContainer p{
  text-align: center;
  font-size: 0.9em;
  color: #666;
}

.stepContainer{
  height: 80px
}

.listItemContainer {
  flex: 1;
  /* text-align: center; */
  /* padding-left: 10%;
  padding-right: 10%; */
}

.slogonContainer p{
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (min-width: 600px) {
  .listItemContainer {
    flex: 0 0 100%;
  }
  .stepContainer{
    height: 180px;
  }
  .iconShow {
    visibility: hidden
  }
  .navSlide {
    visibility: visible;
    width: 420px;
    flex-direction: row;
    justify-content: flex-end;
    /* top: 0;
    left: 20px; */
    background:rgba(0,0,0,0);
    margin-left: auto;
    margin-right: 50px;
  }
  #loginContainer{
    width: 90%
  }
  #loginForm {
    width: 40%;
  }
  #googleBtnContainer{
    width: 40%;
  }
  #orContainer{
    padding-top: 0;
    width: 20%;
  }
  .noteListContainer{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 900px) {
  .slogonContainer {
    width: 33.33%
  }
  .listItemContainer {
    flex: 0 0 50%;
  }
  .stepContainer{
    height: 180px;
  }
  #loginContainer{
    width: 80%
  }
  #balance, #exp{
    width: 50%;
  }
  #balanceChart{
    width: 46%
  }
  #expChart {
    width: 46%
  }
  .noteListContainer{
    width: 100%;
  }
  .noteContainer{
    width: 40%
  }
  #bankListContainer{
    width: 40%
  }
}


@media screen and (min-width: 1100px) {
  .vendorLabelContainer {
    width: 45%;
  }
  .barChartContainer{
    width: 50%;
  }
  .noteContainer{
    width: 400px
  }
  #bankListContainer{
    width: 400px
  }
}
